body{
    background-color: gray;
}
ul{
     list-style-position: inside;
     /* list-style-position: outside;  */ 
    color: crimson;
    font-family: sans-serif; 
    /* list-style: square; */
    list-style-type: square;
    margin-left: 20px;
}

ol{
    list-style-position: inside;
    color: blueviolet;
    margin: 25px;
}